# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\YOLOV8\objectdetection_script-master\cv-attention\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
